---
// Import layouts
import PageLayout from '../../layouts/PageLayout.astro'

// Import components
import Hero from '../../components/Hero.jsx'

// Get categories from posts
import { getCollection } from 'astro:content'
const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

let categories: Record<string, number> = {}
posts.forEach((post) => {
  const post_category = post.data.category
  if (post_category) {
    if (categories[post_category]) {
      categories[post_category] += 1
    } else {
      categories[post_category] = 1
    }
  }
})
---

<PageLayout
  page_title="Categorias"
  page_description="Categorias de los artículos"
>
  <Hero
		title="Categorias"
		image="/imgs/hero.png"
	/>
  <section class='mt-20 cards grid grid-cols-1 gap-10 sm:grid-cols-2 md:grid-cols-3'>
    {
      Object.keys(categories).map((category) => (
        <article class='card w-full opacity-80 hover:opacity-100 transition duration-250'>
          <a href={`/categorias/${category}`} class="block relative">
            <img class="opacity-80 w-full" src={`/imgs/categories/${category}.png`} alt="imagen de la categoría" />  
            <div class="info top-0 left-0 w-full h-full flex items-center justify-center z-10 bg-indigo-200 rounded-b-xl">
                <h2 class="text-3xl inline-block py-2 text-slate-600 font-bold">
                  {category.toUpperCase()}
                  <span class="counter">({categories[category]})</span>
                </h2>
            </div>
          </a>
        </article>
      ))
    }
  </section>
</PageLayout>

<style lang="sass">
</style>
