---
import HeaderLink from './HeaderLink.astro'
import ButtonLink from './ButtonLink.astro'
import ButtonIcon from './ButtonIcon.astro'

const nav_links = [
  {
    text: 'Home',
    href: '/',
    target: '',
  },
  {
    text: 'Blog',
    href: '/blog',
    target: '',
  },
  {
    text: 'Acerca de',
    href: '/acerca-de',
    target: '',
  },
  {
    text: 'Servicios',
    href: '/servicios',
    target: '',
  },
  {
    text: 'Dari Dev',
    href: 'https://www.darideveloper.com/',
    target: '_blank',
  },
]
---

<header
  class='flex-col items-center justify-center flex text-lg lg:flex-row lg:justify-between w-full'
>
  <a
    href='/'
    class='logo w-64 inline-block p-4'
  >
    <img
      src='imgs/logo.png'
      alt='Blog Dari Dev logo'
    />
  </a>

  <div class='menu flex flex-col items-center lg:flex-row'>
    <nav>
      <ul class='text-center flex flex-col sm:flex-row'>
        {
          nav_links.map((nav_link) => (
            <li class='inline-block'>
              <HeaderLink
                href={nav_link.href}
                class='py-2 px-20 sm:px-6 text-gray-900 hover:text-indigo-500'
                target={nav_link.target}
              >
                {nav_link.text}
              </HeaderLink>
            </li>
          ))
        }
      </ul>
    </nav>

    <ButtonIcon
      extra_classes='w-10 h-10 mt-2 sm:hidden'
    >

      <svg
        clip-rule='evenodd'
        fill-rule='evenodd'
        stroke-linejoin='round'
        stroke-miterlimit='2'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'
        class='fill-slate-100'
        ><path
          d='m16.843 10.211c.108-.141.157-.3.157-.456 0-.389-.306-.755-.749-.755h-8.501c-.445 0-.75.367-.75.755 0 .157.05.316.159.457 1.203 1.554 3.252 4.199 4.258 5.498.142.184.36.29.592.29.23 0 .449-.107.591-.291 1.002-1.299 3.044-3.945 4.243-5.498z'
        ></path></svg>
    </ButtonIcon>

    <ButtonLink
      href='mailto:darideveloper@gmail.com'
      extra_classes='mt-5 lg:mt-0 lg:ml-5'
    >
      <span>Contactanos</span>
    </ButtonLink>
  </div>
</header>

<style lang='sass'>
  // Overwrite active link styles
  a.active
    color: #5145CD
    text-decoration: none

  // responsive header
  @media (max-width: 640px)
    header 
      nav
        height: 0px
        transition-duration: 0.5s
        overflow: hidden

      &.active
        nav
          height: 173px


</style>

<script>
  const menu_button = document.querySelector('.menu-button')
  const header = document.querySelector('header')
  menu_button && header && menu_button.addEventListener('click', () => {
    header.classList.toggle('active')
  })
</script>
