<section class="hero w-100 md:h-96 mt-5 relative flex items-center justify-center h-64">
    <div class="parallax bg bg-[url('/imgs/hero.png')] bg-cover opacity-80 top-0 left-0 absolute w-full h-full -z-10"></div>
    <h1 class="text-5xl title font-bold text-center block bg-slate-100 w-full py-5">Tu blog de confianza 
        <span class="text-2xl block italic mt-2">sin publicidad</span>
    </h1>
</section>
