---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

// Get props
interface Props {
  page_title?: string
  page_description?: string
}

const { page_title, page_description } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead
      title={page_title ? `${page_title} | ${SITE_TITLE} ` : SITE_TITLE}
      description={page_description ? page_description : SITE_DESCRIPTION}
    />
  </head>
  <body class={`container mx-auto px-5 bg-slate-100 text-slate-950`}>
    <Header title={SITE_TITLE} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang='sass'>
  // fonts
  body
    font-family: 'Assistant', sans-serif

    .title, h1, h2, h3, h4, h5, h6
      font-family: 'Baloo 2', cursive
</style>

<script>
  declare global {
    interface Window {
      netlifyIdentity: any;
    }
  }

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user:any) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>