@tailwind base
@tailwind components
@tailwind utilities

$grey: #1d1d1f
$grey-light: #313031
$white: #e6e6e6
$white-light: #9497a1
$accent: #0066cc

body
	margin: 0
	padding: 0
	height: 100%
	background-color: $grey
	scroll-behavior: smooth

.debug
	border: 1px solid red

svg
	width: 100%

.bg-gradiant
	background: linear-gradient(-15deg, $grey, rgba($accent, 0.05), $grey, $grey, rgba($accent, 0.1), $grey, rgba($accent, 0.02),)
	background-size: 400% 400%
	animation: gradient 15s ease infinite

input
	outline: none


// Change scroll bar
::-webkit-scrollbar
	width: 5px

/* Track */
::-webkit-scrollbar-track
	display: none

/* Handle */
::-webkit-scrollbar-thumb
	background: $accent
	border-radius: 10px


@keyframes gradient
	0%
		background-position: 0% 50%

	50%
		background-position: 100% 50%

	100%
		background-position: 0% 50%
